:root {
    --white-color: #F9FAF8;
}


/*--------Header------------*/
body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 150px;
    padding-top: 0;
    height: 400px;
    background-color: #1F2937;
    margin: 0;
}

.logo {
    width: 40%;
    height: 45%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.info h1 {
    font-size: 48px;
    font-weight: bold;
    color: var(--white-color);
    margin: 0;
}

.info button {
    width: 120px;
    height: 40px;
    padding: 4px 5px;
    color: var(--white-color);
    background-color: #3882F6;
    font-weight: 900;
    font-size: 19px;
    border-radius: 13%;
}

.me {
    width: 120%;
    height: 60%;
 
}

ul a, .info p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    flex-wrap: wrap;
}

.info p {
    margin: 7px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}


/*--------------Body 1-------------*/

.body1 {
    padding: 0;
    background-color: var(--white-color);
    height: 450px;
    margin: 0;
}

.body1-part div{
    border: 3px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 8%;
}

.body1-part p {
    text-align: center;
}

.body1-parts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

h2 {
    margin: 0;
    padding: 45px;
    font-size: 32px;
    text-align: center;
    
}



/*-----------------------Quotation--------------------------------*/

.quotation {
    height: 350px;
    background-color: #E5E7EB;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.quote-content {
    font-size: 28px;
    font-style:italic;
    font-weight: 50;
    color: #1F2937;
}

.quote-creator {
    font-size: 18px;
    font-weight: bold;
}



/*-----------------------Info about me--------------------------------*/

.info-me {
    height: 350px;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-me-box {
    width: 800px;
    border: 1px solid white;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-radius: 1%;
}

.info-me-paragraph {
    font-size: 18px;
    font-weight: 400;
}

.info-me-box button {
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 14px;
    height: 50px;
    margin-top: 30px;
    
}



/*------------------------Footer-----------------------------------*/

footer {
    height: 60px;
    background-color: #1F2937;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
